*
	padding: 0
	margin: 0

body
	background: #eee
	overflow: hidden

.label
	display: block
	position: absolute
	

$uiPadding: 5px
.window
	background: #252F3C
	opacity: 0.8
	border: 1px solid #495D77
	min-width: 100px
	color: #7399EC
	font-family: monospace
	border-radius: 3px
	ul
		list-style: none
	.header
		padding: $uiPadding
		text-align: center
		border-bottom: 1px solid
	.content
		padding: $uiPadding

#palentsList
	position: absolute
	top: 10px
	left: 10px